.filters {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
  margin: 2rem;
}
.filtersLayout {
  display: flex;
  flex-wrap: wrap;
}
.filterDropdownButton {
  background-color: black;
  color: white;
  margin: 2rem;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
}
.filterDropdownButton:hover {
  cursor: pointer;
  color: #ff85ba;
}
.select {
  outline: 0;
  font: inherit;
  width: 17rem;
  height: 2rem;
  color: black;
  cursor: pointer;
  margin: 2rem 2rem 1rem 2rem;
}
.categoryFilterContainer {
  margin: 1rem 2rem 1rem 2rem;
}
.sliderContainer {
  margin: 1rem 2rem 1rem 2rem;
}
.slider {
  width: 17rem;
  outline: none;
  transition: 0.3s;
}
.ratingFilterContainer {
  margin: 1rem 2rem 1rem 2rem;
}
.buttonsContainer {
  display: flex;
  padding: 2rem;
}
.button {
  height: 2rem;
  margin-right: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  color: #ff85ba;
}
@media only screen and (max-width: 400px) {
  .filterDropdownButton {
    margin: 1rem;
  }
  .filters {
    margin: 1rem;
  }
}
