.button {
  height: 2rem;
  margin-left: 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
}
.button:hover .link {
  cursor: pointer;
  color: #ff85ba;
}
.link {
  text-decoration: none;
  color: white;
}
.editLink {
  color: black;
}
.editLink:hover {
  color: #ff85ba;
}
.icon:hover {
  color: #ff85ba;
  cursor: pointer;
}
.tableTitle {
  margin-left: 2rem;
}
.tableContainer {
  display: flex;
  align-items: stretch;
  max-width: 100%;
  overflow-x: auto;
}
.table {
  margin: 2rem;
  border-collapse: collapse;
  flex: 1;
}
th,
td {
  padding: 0.6rem;
  text-align: left;
}
th {
  background-color: black;
  color: white;
}
.tableRow:nth-of-type(even) {
  background-color: rgba(128, 128, 128, 0.2);
}
