.registerContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 25% 2rem 25%;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  height: 2rem;
  margin-bottom: 1rem;
}
.invalidInput {
  height: 2rem;
  margin-bottom: 1rem;
  background-color: #ff85ba;
}
.logged {
  margin-bottom: 1rem;
}
.loginButton {
  height: 2rem;
  margin-bottom: 1rem;
}
.loginButton {
  height: 2rem;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
}
.loginButton:hover {
  cursor: pointer;
  color: #ff85ba;
}
.login {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.6);
}
.link:hover {
  color: #ff85ba;
}
.errorAlert {
  height: 2rem;
  color: #ff85ba;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.successAlert {
  height: 2rem;
  background-color: rgba(0, 0, 255, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
